# eclipse files
.classpath
.project
.settings
.checkstyle
.factorypath
.pmd
.pmdruleset.xml
.eclipse-pmd
.ruleset
.apt_generated/
.apt_generated_tests/
.fbExcludeFilterFile

# Maven files
target/
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
velocity.log*
