<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="WARN">
	<Appenders>
		<Console name="console">
			<!-- <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" 
				/> -->
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %location - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="gov.nist.secauto.metaschema" level="info" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>